{% extends 'VarelagerBundle::layout.html.twig' %}

{% block title %} Innlogging - Persilleriet{%endblock%}




{% block header %}
<h1>Persilleriet</h1>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block pageFlesh %}


<form action="{{ path('_login_check') }}" method="post" class="persillerietLogin" name="persillerietLogin">
	<fieldset>
	<legend>Innlogging</legend>
    <label for="username">Brukernavn: </label> 
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
	<br />
    <label for="password">Passord:</label>
    <input type="password" id="password" name="_password" />
	<br />
	</fieldset>
    {#
        If you want to control the URL the user is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
    <input type="submit" name="login" value="Logg inn"/>
</form>

		{#% block topmessage %}
		{{ parent() }}

		{% if error %}
			<div>{{ error.message }}</div>
		{% endif %}
		{% endblock %#}

{% endblock %}

